{
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ]
    }
  ],
  "extends": "eslint:recommended",
 
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  },
  "settings": {
    "jest": {
      "version": 26
    }
  }
}